beautifulsoup4==4.12.3
Gooey==1.0.8.1
google_api_python_client==2.125.0
gspread==6.1.0
gspread_dataframe==3.3.1
oauth2client==4.1.3
pandas==2.2.2
phonenumbers==8.13.34
pycountry==23.12.11
Requests==2.31.0
result==0.16.1
schwifty==2024.4.0
selenium==4.19.0
